version = 0.1

[default.deploy.parameters]
stack_name = "aws-bedrock-delivery-assistant"
resolve_s3 = true
s3_prefix = "aws-bedrock-delivery-assistant"
region = "us-east-1"
capabilities = "CAPABILITY_IAM"
parameter_overrides = "Environment=\"dev\" BedrockModelId=\"amazon.nova-lite-v1:0\""
confirm_changeset = true
